---

---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Sobre mi | Alex Cuadro | 2024</title>
	</head>
	<body>
        <a href="/">Inicio</a>
        <a href="/about">Sobre m칤</a>
        <a href="/blog">Blog</a>


		<h1>Sobre mi, Alex Cuadro</h1>
        <p>춰Hola! Soy <strong>Alex Cuadro</strong>, un docente de Historia con 23 a침os de edad, actualmente estoy inmerso en el fascinante mundo de la inform치tica, espec칤ficamente en el desarrollo FrontEnd. Este repositorio es mi espacio personal donde comparto recursos, proyectos y todo lo relacionado con mi viaje educativo y tecnol칩gico.
        </p>
            <h2>Sobre M칤</h2>
                <p>
                    <ul>
                        <li>游깵 Soy uruguayo, apasionado por la historia, la cultura y la inform치tica.</li>
                        <li>游닄 Docente de Historia, compartiendo conocimientos con entusiasmo.</li>
                        <li>游눹 Estudiante del Profesorado de Cs. de la Computaci칩n, explorando el vasto universo tecnol칩gico.</li>
                        
                    </ul>
                 </p>
	</body>
</html>
<style>
	ul {
		list-style-type: none;
	}
</style>