---

---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Blog | Alex Cuadro | 2024</title>
	</head>
	<body>
		<a href="/">Inicio</a>
		<a href="/about">Sobre mí</a>
		<a href="/blog">Blog</a>

		<h1>1° Página del Blog con Astro</h1>
            <p>Este seria el contenido del blog, como es la primer página va un texto genérico, en este viaje de aprendizaje ejejeje</p>
			
	</body>
</html>

