---
import '../styles/global.css';
const pageTitle = "Inicio";
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<a href="/">Inicio</a>
		<a href="/about">Sobre mí</a>
		<a href="/blog">Blog</a>

		<h1>{pageTitle}</h1>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates id quasi inventore ex magni quisquam optio ipsa dolore repudiandae <br>impedit repellat nulla aperiam minima, perspiciatis maxime voluptatum nesciunt delectus dolorum.</p>
	
	</body>
</html>